<!DOCTYPE html>
<html>
  <head>
    <title>CCT Portal</title>
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="icon" type="image/x-icon" href="../assets/favicon.ico">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="Expires" content="0"/>
  </head>
  <body>

<div class="header">
  <img src="../assets/pearson_logo_white_bg.png" alt="logo" />
  <h1 align ='center'>CCT Portal</h1>
</div>
<ul class="ul-nav">
  <li class="li-nav"><a href="../index.html">Home</a></li>
  <li class="dropdown">
    <a href="javascript:void(0)" class="dropbtn">Site Deployments</a>
    <div class="dropdown-content">
      <a href="./siteDeployments.html">Dashboard</a>
    </div>
  </li>
  <li class="dropdown">
    <a href="javascript:void(0)" class="dropbtn">Slumbering Admins</a>
    <div class="dropdown-content">
      <a href="./modifyMembership.html">Modify Membership</a> 
      <a href="./dashboard.html">State Status</a>
    </div>
  </li>
  <li class="li-nav"><a href="./about.html">About</a></li>
  <li class="li-nav"><a href="./help.html">Help</a></li>
</ul>

    <section>

      <button type="button" onclick="loadDoc()">List Slumbering Admins</button>

          <nav>
          <h3></h3>
          <div class="vertical-menu">
            <h3>Slumbering Admin Information</h3>
            <ul>
              <a href="#" class="active">List Active Members</a>
            </ul>
          <!-- Eventually some menu items will appear here. -->
          <!-- <ul> -->
              <!-- <li> -->
                <!-- <a href="{{url_for('demo', type='{{ item }}' )}}"> <p id="demo"></p> </a> -->
              <!-- </li> -->   
          <!-- </ul> -->
          </div>
        </nav>
    <article>
      <h1>Active Slumbering Admins</h1>
      <p>Press the button below to scan the Slumbering Admin database for a list of active members. </p>
      <button type="button" onclick="loadDoc2()">Scan Database</button>
        
        <p id="demo"></p>

<script>
// NOTE: Used with this api gateway integration response output format: 
//     #set($inputRoot = $input.path('$'))  
// {  
//     ## "Count": "$inputRoot.Count",  
//     "Items": [  
//         #foreach($elem in $inputRoot.Items)  
//         {"Region-Admin": "$elem.Region-Admin.S"} 
//         #if($foreach.hasNext),#end  
//         #end  
//     ]  
// }

  function loadDoc2() {
    const xmlhttp = new XMLHttpRequest();
    xmlhttp.onload = function() {
      const myObj = JSON.parse(this.responseText)["Items"];
      console.log(myObj)
      let text = "<table border='1' class='fixed_header'>"
        // Create column 1
        text += "<thead><tr><th>Admins</th></tr></thead>"
      for (let item in myObj) {
        text += "<tr><td>" + myObj[item]["Region-Admin"] + "</td></tr>";
        console.log(myObj[item]["Region-Admin"])
      }
      text += "</table>"    
      document.getElementById("demo").innerHTML = text;
    }
    xmlhttp.open("GET", "https://at2tkao204.execute-api.us-east-1.amazonaws.com/stable/dbquery", true);
    xmlhttp.send();
      }

</script>

  </article>
  </section>


  <div class="footer">
    <!-- <p>Footer</p> -->
  </div>

  </body>
</html>