<!DOCTYPE html>
<html>
<head>
  <title>CCT Portal</title>
  <link rel="icon" type="image/x-icon" href="../assets/favicon.ico">
  <link rel="stylesheet" href="../styles/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
  <meta http-equiv="Pragma" content="no-cache"/>
  <meta http-equiv="Expires" content="0"/> 
</head>

<body>

<div class="header">
  <img src="../assets/pearson_logo_white_bg.png" alt="logo" />
  <h1 align ='center'>CCT Portal</h1>
</div>
<ul class="ul-nav">
  <li class="li-nav"><a href="../index.html">Home</a></li>
  <li class="dropdown">
    <a href="javascript:void(0)" class="dropbtn">Site Deployments</a>
    <div class="dropdown-content">
      <a href="./siteDeployments.html">Dashboard</a>
    </div>
  </li>
  <li class="dropdown">
    <a href="javascript:void(0)" class="dropbtn">Slumbering Admins</a>
    <div class="dropdown-content">
      <a href="./modifyMembership.html">Modify Membership</a> 
      <a href="./dashboard.html">State Status</a>
    </div>
  </li>
  <li class="li-nav"><a href="./about.html">About</a></li>
  <li class="li-nav"><a href="./help.html">Help</a></li>
</ul>

<section>
<nav>
  <h3>Modify Membership &#13; of Slumbering Admins:</h3>
  <div class="vertical-menu">
  <ul>
    <a href="./optin.html" class="active">Opt In</a>
    <a href="./optout.html">Opt Out</a>
  </ul>
  </div>
</nav>


<article>
<p><label for="siteIdInput"></label>Please enter each Site ID, separated by a comma. </label></p>

<!-- <form action="https://u3r5v232ba.execute-api.us-east-1.amazonaws.com/test/modify"  method="POST"> -->
  <textarea align="center" id="admin" name="admin" 
  required="" pattern="\s*\d+(\s*,\s*\d*)*\s*" rows="3" value="UE1AC290018A01, UE1AC275128A01"></textarea>
  <br>
  <button type="button" onclick="sendJSON()">Submit</button>
<!-- </form> -->

<p id="demo"></p>


<script>
  function sendJSON(){
    let result = document.querySelector('.result');
    let admin = document.querySelector('#admin');
    // let email = document.querySelector('#email');
      
    // Creating a XHR object
    let xhr = new XMLHttpRequest();
    let url = "https://u3r5v232ba.execute-api.us-east-1.amazonaws.com/test/modify";

    // open a connection
    xhr.open("POST", url, true);

    // Set the request header i.e. which type of content you are sending
    xhr.setRequestHeader("Content-Type", "application/json");

    // Create a state change callback
    xhr.onreadystatechange = function () {
        if (xhr.readyState === 4 && xhr.status === 200) {

            // Print received data from server
            result.innerHTML = this.responseText;
            document.getElementById("demo").innerHTML = this.responseText;

        }
    };

    // Converting JSON data to string
    var data = JSON.stringify({ "admin": admin.value});

    // Sending data with the request
    xhr.send(data);
}
</script>




</article>
</section>

<div class="footer">
  <!-- <p>Footer</p> -->
</div>
            
</body>

</html> 
